<div class="container computer-container">
    <h1>Computadores</h1>
    <br/>
    <a class="btn btn-primary mb-3" role='button' routerLink="newcomputer">Novo Computador</a>
    <br/>
    <input type="text" 
      id="queryField" 
      class="form-control mb-3"
      [(ngModel)]="term" 
      placeholder="Busque por um Computador especifico">
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">HD</th>
            <th scope="col">Memoria RAM</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let computer of computers| filter:term">
            <th scope="row">{{computer.id}}</th>
            <td>{{computer.marca}}</td>
            <td>{{computer.modelo}}</td>
            <td>{{computer.hd}}</td>
            <td>{{computer.memoriaRam}}</td>
            <td>
                <a class="btn btn-info" role='button' routerLink="computers/{{computer.id}}">Visualizar</a>
                <a class="btn btn-warning mr-3 ml-3" role='button' routerLink="updatecomputer/{{computer.id}}">Editar</a>
                <a class="btn btn-danger" role='button' (click)="excluir(computer.id)">Excluir</a>
            </td>
          </tr>
        </tbody>
    </table>
    
</div>

