<div class="container computer-container">
    <a class="btn btn-info" role='button' routerLink="/">Voltar</a>
    <div class="jumbotron-fluid">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-12">
              <div class="container p-4">
                <div class="card">
                  <div class="card-body">
                    <form [formGroup]="formulario" novalidate>
                      <div class="form-group mb-3">
                        <div class="form-group">
                          <label for="marca">Marca do Computador</label>
                          <input type="text" 
                          class="form-control" 
                          id="marca" 
                          formControlName="marca" 
                          required>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="form-group">
                          <label for="modelo">Modelo do Computador</label>
                          <input type="text" class="form-control" id="modelo" formControlName="modelo" required>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="form-group">
                          <label for="placaMae">Placa Mãe</label>
                          <input type="text" class="form-control" id="placaMae" formControlName="placaMae" required>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="form-group">
                          <label for="memoriaRam">Memória Ram</label>
                          <input type="text" class="form-control" id="memoriaRam"
                            formControlName="memoriaRam" required>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="form-group">
                          <label for="hd">HD</label>
                          <input type="text" class="form-control" id="hd"
                            formControlName="hd" required>
                        </div>
    
                      </div>
                      <div class="form-group mb-3">
                        <div class="form-group">
                          <label for="velocidadeProcessador">Velocidade do Processador</label>
                          <input type="text" class="form-control" id="velocidadeProcessador"
                            formControlName="velocidadeProcessador" required>
                        </div>
    
                      </div>
                      <div class="form-group mb-3">
                        <div class="form-group">
                          <label for="foto">URL da Foto</label>
                          <input type="text" class="form-control" id="foto"
                            formControlName="foto" required>
                        </div>
    
                      </div>
                      <div class="col-md-12 col-sm-12 col-12">
                        <button class="btn-3 btn btn-warning btn-block" type="submit" (click)="alterar()">
                          <span class="btn-inner--text">Alterar</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              
            </div>
          </div>
        </div>
      
    </div>

</div>

