<div class="container computer-container">
    
    <div class="col-md-8 order-md-1">
        <a class="btn btn-info" role='button' routerLink="/">Voltar</a>
        <hr>
        <h1 class="mb-3">Detalhes do Computador</h1>
        <br/>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="id">ID:</label>
                <strong><p>{{computer.id}}</p></strong>
            </div>
            <div class="col-md-6 mb-3">
                <label for="marca">Marca:</label>
                <strong><p>{{computer.marca}}</p></strong>
            </div>
            <div class="col-md-6 mb-3">
                <label for="modelo">Modelo:</label>
                <strong><p>{{computer.modelo}}</p></strong>
            </div>
            <div class="col-md-6 mb-3">
                <label for="modelo">Placa Mãe:</label>
                <strong><p>{{computer.placaMae}}</p></strong>
            </div>
            <div class="col-md-6 mb-3">
                <label for="modelo">Memória RAM:</label>
                <strong><p>{{computer.memoriaRam}}</p></strong>
            </div>
            <div class="col-md-6 mb-3">
                <label for="modelo">Velocidade do Processador:</label>
                <strong><p>{{computer.velocidadeProcessador}}</p></strong>
            </div>
            <div class="col-md-6 mb-3">
                <label for="modelo">HD:</label>
                <strong><p>{{computer.hd}}</p></strong>
            </div>
            <div class="col-md-6 mb-3">
                <label for="modelo">Foto:</label>
                <br/>
                <img
                    width="160"
                    src="{{computer.foto}}"
                    alt="Foto"
                />
                
            </div>
            

        </div>
        
    </div>
    
</div>

